model_config_list {
  config {
    name: 'manly_ppl'
    base_path: '/models/manly_ppl/'
    model_platform: 'tensorflow'
    model_version_policy: {all: {}}
  }
  config {
    name: 'sunshine_ppl'
    base_path: '/models/sunshine_ppl/'
    model_platform: 'tensorflow'
    model_version_policy: {all: {}}
  }
}